@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Banny";
  src: url("../fonts/BannyBoldRound.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Open Sans", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.11111vw;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color: #ffffff;
}

.container {
  max-width: 90.27778vw;
  padding: 0 0.69444vw;
  margin: 0 auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.84722vw 0.41667vw 2.84722vw 3.81944vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header__item:not(:last-child) {
  margin-right: 6.52778vw;
}

.header__link {
  color: #ffffff;
  font-size: 0.83333vw;
  text-transform: uppercase;
}

.header__logo {
  margin-top: 1.73611vw;
  margin-left: 2.29167vw;
  width: 10.41667vw;
  height: 10.41667vw;
}

.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  padding-top: 8.68056vw;
  font-family: "Banny", sans-serif;
  font-size: 6.66667vw;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3.88889vw;
}

.hero__title span {
  margin-top: 2.15278vw;
  margin-bottom: 1.38889vw;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 0.83333vw;
  letter-spacing: 0.5em;
}

.hero__btns {
  margin-bottom: 5.625vw;
}

.hero__btn {
  width: 13.88889vw;
  height: 4.16667vw;
  margin: 0 1.38889vw;
  font-size: 0.83333vw;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.34722vw;
}

.btn-fill {
  background-color: #e8c300;
}

.hero__next {
  width: 4.16667vw;
  height: 4.16667vw;
}

.hero__next svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.burger {
  display: none;
  width: 10.41667vw;
  height: 10.41667vw;
  border: none;
  background-color: transparent;
}

.burger svg {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  fill: #ffffff;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 3.125vmin;
  }
  .header__nav {
    display: none;
  }
  .burger {
    display: block;
    width: 12.5vmin;
    height: 12.5vmin;
    position: relative;
  }
  .burger--active svg {
    display: none;
  }
  .burger span {
    position: absolute;
    top: 6.25vmin;
    left: 58vw;
    width: 100%;
    height: 0.625vmin;
    background-color: #000000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
  }
  .burger span ~ span {
    top: 6.25vmin;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.3s ease 0.3s;
    transition: all 0.3s ease 0.3s;
  }
  .header__logo {
    display: none;
  }
  .hero__title {
    padding-top: 18.75vmin;
    margin-bottom: 9.375vmin;
    font-size: 18.75vmin;
  }
  .hero__title span {
    font-size: 3.75vmin;
    margin-bottom: 6.25vmin;
  }
  .hero__btns {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 9.375vmin;
  }
  .hero__btn {
    width: 100%;
    max-width: 93.75vmin;
    height: 15.625vmin;
    font-size: 3.75vmin;
  }
  .btn-fill {
    margin-bottom: 7.8125vmin;
  }
  .hero__next {
    width: 18.75vmin;
    height: 18.75vmin;
  }
  .header__list {
    display: block;
    padding: 0;
  }
  .header__nav {
    padding: 4.6875vmin;
    display: block;
    position: fixed;
    left: -200vw;
    top: 0;
    width: 80vw;
    height: 100vh;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .header__nav--open {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    left: 0;
  }
  .header__item {
    margin: 0;
    margin-bottom: 6.25vmin;
  }
  .header__link {
    color: #000000;
    font-size: 3.75vmin;
  }
}
