@import "mixins";
@include font-face("Open Sans", "OpenSans-Bold", 700);
@include font-face("Banny", "BannyBoldRound", 700);
$fontfamily: "Open Sans", sans-serif;
$fontfamilytitle: "Banny", sans-serif;
$minwidth: 320px;
@import "nullstyle";

@function vw($value, $base: 1440) {
	@return $value/$base * 100vw;
}

@function vmin($value, $base: 320) {
	@return $value/$base * 100vmin;
}

@media (max-width: 1024px) {
	// фишка из студии - один медиазапрос: все что ниже 1024px показывает как для мобильной версии
}

body {
	font-family: $fontfamily;
	font-size: vw(16);
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	color: #ffffff;
}

.container {
	max-width: vw(1300);
	padding: 0 vw(10);
	margin: 0 auto;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header__list {
	display: flex;
	align-items: center;
	padding: vw(41) vw(6) vw(41) vw(55);
	border-bottom: 1px solid rgba(#ffffff, 0.2);
}

.header__item {
	&:not(:last-child) {
		margin-right: vw(94);
	}
}

.header__link {
	color: #ffffff;
	font-size: vw(12);
	text-transform: uppercase;
}

.header__logo {
	margin-top: vw(25);
	margin-left: vw(33);
	width: vw(150);
	height: vw(150);
	& img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero {
	.container {
		// padding-top: vw(175);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.hero__title {
	padding-top: vw(125);
	font-family: $fontfamilytitle;
	font-size: vw(96);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: vw(56);

	span {
		margin-top: vw(31);
		margin-bottom: vw(20);
		display: block;
		font-family: $fontfamily;
		font-size: vw(12);
		letter-spacing: 0.5em;
	}
}

.hero__btns {
	margin-bottom: vw(81);
}

.hero__btn {
	width: vw(200);
	height: vw(60);
	margin: 0 vw(20);
	font-size: vw(12);
	color: #ffffff;
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid rgba(#ffffff, 0.2);
	border-radius: vw(5);
}

.btn-fill {
	background-color: #e8c300;
}

.hero__next {
	width: vw(60);
	height: vw(60);

	svg {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.burger {
	display: none;
	width: vw(150);
	height: vw(150);
	border: none;
	background-color: transparent;
	svg {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		fill: #ffffff;
	}
}

@media (max-width: 1024px) {
	.header {
		padding-top: vmin(10);
	}
	.header__nav {
		display: none;
	}
	.burger {
		display: block;
		width: vmin(40);
		height: vmin(40);
		// position: relative;

		// &--active {
		// 	svg {
		// 		display:none;
		// 	}
		// }

		// span {
		// 	position: absolute;
		// 	top: vmin(20);
		// 	left: 58vw;
		// 	width: 100%;
		// 	height: vmin(2);
		// 	background-color: #000000;
		// 	@include rotate(45deg);
		// 	@include anim(0.3s, 0.3s);

		// }
		// & span ~ span {
		// 	top: vmin(20);
		// 	@include rotate(-45deg);
		// 	@include anim(0.3s, 0.3s);
		// }
	}

	.header__logo {
		display: none;
	}

	.hero__title {
		padding-top: vmin(60);
		margin-bottom: vmin(30);
		font-size: vmin(60);
		span {
			font-size: vmin(12);
			margin-bottom: vmin(20);
		}
	}
	.hero__btns {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: vmin(30);
	}
	.hero__btn {
		width: 100%;
		max-width: vmin(300);
		height: vmin(50);
		font-size: vmin(12);
	}
	.btn-fill {
		margin-bottom: vmin(25);
	}

	.hero__next {
		width: vmin(60);
		height: vmin(60);
	}
	.header__list {
		display: block;
		padding: 0;
	}
	.header__nav {
		padding: vmin(15);
		display: block;
		position: fixed;
		left: -200vw;
		top: 0;
		width: 80vw;
		height: 100vh;
		background-color: #ffffff;
		transition: all 0.3s ease-in;
	}
	.header__nav--open {
		transition: all 0.3s ease-in;
		left: 0;
		// visibility: visible;
	}

	.header__item {
		margin: 0;
		margin-bottom: vmin(20);
	}
	.header__link {
		color: #000000;
		font-size: vmin(12);
	}
}
